NODE_ENV=development
PORT=3001
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hanoi_estate"
ADMIN_API_KEY="replace-with-shared-random-key-at-least-32-characters"
CORS_ORIGINS="http://localhost:3000"
